# Data & Notebooks
duckdb
pandas
pyarrow
jupyterlab
fhir.resources
orjson

# ML & Explainability
scikit-learn
xgboost
lightgbm
catboost
shap
matplotlib
seaborn

# API
fastapi
uvicorn[standard]

# Performance
tqdm